




.sign-in-email {
    position: absolute;
    width: 504px;
    height: 88px;
    left: 468px;
    top: 378px;

}
.LoginModal {
    position: absolute;
    width: 600px;
    height: 528px;
    left: 420px;
    top: 248px;

    background: #FFFFFF;
    box-shadow: 0px 5px 16px 1px rgba(229, 229, 229, 0.8);
    border-radius: 10px;
 }
.sign-in-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3px 215px;

    position: absolute;
    width: 503px;
    height: 47px;
    left: calc(50% - 503px/2 - 0.5px);
    top: 614px;

    background: #5048E5;
    border-radius: 4px;
}

.sign-in-password {
    position: absolute;
    width: 504px;
    height: 88px;
    left: 468px;
    top: 496px;
 }


.login-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;

    position: absolute;
    width: 379px;
    height: 64px;
    left: calc(50% - 379px/2 + 0.5px);
    top: 282px;
}

.sign-in-header {
    /* Sign in header */


    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;

    position: absolute;
    width: 379px;
    height: 64px;
    left: calc(50% - 379px/2 + 0.5px);
    top: 282px;
}


.signin-password {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 503px;
    height: 22px;
    left: calc(50% - 503px/2 - 0.5px);
    top: 683px;

}